[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "beautifulsoup4>=4.14.2",
    "lxml>=6.0.2",
    "playwright>=1.56.0",
    "selenium>=4.38.0",
    "webdriver-manager>=4.0.2",
]
